:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /*Colors */

  --Purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Lighter-grey: hsl(0, 0%, 95%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  --fw-reg: 400;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

body {
  background-color: var(--Light-grey);
  font-size: 13px;
  line-height: 1.5;
  color: var(--Smokey-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 5px;
}

input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80px;
  color: var(--off-black);
  font-weight: var(--fw-bold);
  font-size: 16px;
  border: 2px solid var(--Lighter-grey);
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
  border: 2px solid var(--Purple);
}

hr {
  margin-left: 0px;
  width: 450px;
  border: 0.5px solid var(--Light-grey);
}

.year,
.month,
.day {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container {
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--White);
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 812px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  border-bottom-right-radius: 25%;
}

.result {
  margin-top: -40px;
}
.sumbmit-btn {
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: var(--Purple);
  border: transparent;
  position: relative;
  margin-top: -10px;
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--off-black);
}
.arrow-img {
  width: 25px;
}

.years,
.months,
.days {
  display: flex;
  flex-direction: row;
  font-size: 64px;
  font-weight: var(--fw-extrabold);
  color: var(--off-black);
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

.result_years,
.result_months,
.result_days {
  color: var(--Purple);
  font-weight: var(--fw-bold);
  margin-right: 10px;
}
.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--off-black);
}

.attribution a {
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  color: var(--Purple);
}

.errorDay,
.errorMonth,
.errorYear {
  color: var(--light-red);
  font-weight: var(--fw-bold);
  display: flex;
}

.invalid {
  border: 2px solid var(--light-red);
}
